<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <p>Your tickets have been purchased.</p>
        <hr />
        <p>Thank you!</p>
        <a href="@Url.Action("Index", "Movies")" class="btn btn-primary">Go Back to Movies</a>
    </div>
</div>
